.alien{
    border: 1px grey solid;
    border-radius: 5px;
    margin:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.alien p{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.info{
    font-weight: bold;
}

.alien p br{
    border: 1px solid grey;
}
